body {
  margin: 0;
  padding: 0;
}

html,
body,
#app {
  height: 100%;
}

canvas {
  display: block;
}

* {
  user-select: none;
}

.billiards {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #333, #111);

  .header {
    height: min(64px, 10vh);
  }

  .container {
    display: flex;
    flex: 1;
    min-width: 0;
    min-height: 0;

    .main {
      flex: 1;
      min-width: 0;
      min-height: 0;

      .main-canvas {
        width: 100%;
        height: 100%; 
      }
    }

    .aside {
      position: relative;
      width: min(64px, 10vw);

      &.right-side {
        // .point-helper {
        //   position: relative;
        //   width: 100%;
        //   height: 100px;

        //   canvas {
        //     height: 100%;
        //   }
        // }
        
        // .force-helper {
        //   position: relative;
        //   width: 100%;
        //   height: 300px;
        // }

        .helper {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          
        }
      }
    }
  }

  .footer {
    position: relative;
    height: min(64px, 10vh);
  }

  .helper {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    .regulator {
      position: relative;
      width: 100%;
      height: 100%;
  
      canvas {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}

// #app {
//   display: none;
// }
// .billiards { opacity: 0.1; }
// .header,
// .footer {
//   display: none;
// }

// .regulator {
//   display: none;
// }

// .force-helper {
//   display: none;
// }

// .main {
//   opacity: 0.0;
// }

.accurate-regulator-modal {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 8;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);

  .controller-container {
    position: relative;
    width: 200px;
    height: 200px;
    // display: flex;
    // justify-content: flex-start;
    // align-items: flex-end;

    /* 水平线和垂直线网格 */
    background-image:
      linear-gradient(rgba(100, 150, 200, 0.1) 1px, transparent 1px),
      linear-gradient(90deg, rgba(100, 150, 200, 0.1) 1px, transparent 1px);
    background-size: 16px 16px;
    border-radius: 8px;
    background-color: rgba(10, 15, 30, 0.7);
    // box-shadow: 
    //     inset 0 0 20px rgba(0, 0, 0, 0.5), 
    //     0 10px 30px rgba(134, 130, 130, 0.4),
    //     0 0 25px rgba(209, 252, 238, 0.3);
    overflow: hidden;
    border: 1px solid rgba(78, 204, 163, 0.2);


    .angle-controller {
      position: absolute;
      right: 100px;
      top: 0;
      z-index: 9;
      width: 108px;
      height: 108px;

      .btn {
        width: 10%;
        aspect-ratio: 1 / 1;
      }
    }

    &.force-controller {
      all: unset;
      position: absolute;
      right: 0;
      top: 50%;
      z-index: 9;
      width: 64px;
      height: 320px;
      transform: translate(0, -50%);
    }
  }
}

.btn-release {
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 16px;
  bottom: 16px;
  z-index: 9;
  width: 64px;
  height: 64px;
  font-size: 16px;
  color: #f1f3f2;
  text-shadow: -1px -1px 1px #333;
  border-radius: 50%;
  background-color: transparent;
  background-image: url('@/assets/effects/btn-release.gif');
  background-size: 100% 100%;
  cursor: pointer;
}
.controller-container {
  position: relative;
  width: 200px;
  height: 200px;
  // display: flex;
  // justify-content: flex-start;
  // align-items: flex-end;

  /* 水平线和垂直线网格 */
  background-image:
    linear-gradient(rgba(100, 150, 200, 0.1) 1px, transparent 1px),
    linear-gradient(90deg, rgba(100, 150, 200, 0.1) 1px, transparent 1px);
  background-size: 16px 16px;
  border-radius: 8px;
  background-color: rgba(10, 15, 30, 0.7);
  // box-shadow: 
  //     inset 0 0 20px rgba(0, 0, 0, 0.5), 
  //     0 10px 30px rgba(134, 130, 130, 0.4),
  //     0 0 25px rgba(209, 252, 238, 0.3);
  overflow: hidden;
  // border: 1px solid rgba(78, 204, 163, 0.2);
}

.point-helper {
  // position: absolute;
  // z-index: 9;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 64px;
  height: 64px;

  .point-controller-container {
    width: 100%;
    height: 100%;
  }

  .btn {
    position: absolute;
    width: 20%;
    aspect-ratio: 1 / 1;
  }

  .btn-up {
    left: 50%;
    top: 1%;
    transform: translate(-50%, 0);
  }
  .btn-down {
    left: 50%;
    bottom: 1%;
    transform: translate(-50%, 0);
  }
  .btn-left {
    left: 1%;
    top: 50%;
    transform: translate(0, -50%);
  }
  .btn-right {
    right: 1%;
    top: 50%;
    transform: translate(0, -50%);
  }

  .btn-reset {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 2%;
    top: 2%;
    width: 32%;
    aspect-ratio: 2 / 1;
    font-size: 10%;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 2px;
    color: #fff;
    user-select: none;
    transition: background-color 0.3s ease;
    cursor: pointer;

    &:hover {
      background-color: rgba(255, 255, 255, 0.2);
    }
  }
}

.force-helper {
  position: relative;
  width: 64px;
  height: 320px;

  .btn {
    position: absolute;
    width: 20px;
    height: 20px;

    &.btn-plus {
      left: 50%;
      top: 0;
      transform: translate(-50%, 0);
    }

    &.btn-minus {
      left: 50%;
      bottom: 0;
      transform: translate(-50%, 0);
    }
  }
}
