body {
  margin: 0;
  padding: 0;
}

html,
body,
#app {
  height: 100%;
}

.main-canvas {
  display: block;
  width: 100%;
  height: 100%; 
}

.helper {
  position: absolute;
  right: 0;
  top: 0;
  width: 100px;
  background: linear-gradient(to bottom, #333, #111);
}

.point-helper {
  position: relative;
  width: 100px;
  height: 100px;
}

.force-helper {
  position: relative;
  width: 100px;
  height: 300px;
}
